@import "./stylesheets/base.less";

.meta.structure.dictionary.json .string.quoted.double.json {
  color: @cyan;
}

.meta.structure.dictionary.json.value .string.quoted.double.json {
  color: @green;
}

.editor .scroll-view {
  padding-left: 0px;
}
